@use '../base' as *;

.c-headline {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    h2 {
        font-size: 42px;
        font-weight: 200;
        text-transform: uppercase;
    }
    p {
        font-size: 13px;
        font-weight: 500;
    }
}