@use '../base' as *;

.c-share {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.c-share__button {
    display: block;
    color: #ffffff;
    min-width: 150px;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: .5s ease;
    &.facebook {
        background-color: #999;
        &:hover {
            background-color: #3C5D96;
        }
    }
    &.twitter {
        background-color: #888;
        &:hover {
            background-color: #000;
        }
    }
    &.line {
        background-color: #999;
        &:hover {
            background-color: #00C34D;
        }
    }
    &.pinterest {
        background-color: #888;
        &:hover {
            background-color: #bc3f36;
        }
    }
}

.c-shareSmall {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-shareSmall__button {
    display: block;
    color: $gray-color;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: .5s ease;
    &.facebook {
        &:hover {
            color: #3C5D96;
        }
    }
    &.twitter {
        &:hover {
            color: #000;
        }
    }
    &.line {
        &:hover {
            color: #00C34D;
        }
    }
    &.pinterest {
        &:hover {
            color: #bc3f36;
        }
    }
}