@use '../base' as *;

#masthead {
  position: fixed;
  right: 0; left: 0;
  z-index: 100;
  width: 100%;
  max-width: 1600px;
  margin: auto;
  margin-top: 30px;
}


.masthead__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px 0;
  @include respond-from(sm) {
    padding: 0;
  }
}

.masthead__logo {
  img {
    max-width: 70px;
  }
  h2 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 11px;
  }
}
//  .masthead__logo =============================

.masthead__work {
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 3;
  cursor: pointer;
  will-change: opacity;
  text-transform: uppercase;
  &:hover {
    a:nth-child(1) {
      .masthead__work-title {letter-spacing: 1px;}
    }
    a:nth-child(2) {
      .masthead__work-icon {
        transform: rotate(360deg);
      }
    }
  }
  a:nth-child(1) {
    @include respond-from(sm) {
      display: none;
    }
  }
  a:nth-child(2) {
    @include respond-from(sm) {
      display: block;
      padding: 5px;
      margin: 15px;
      border: 1px solid $base-color;
    }
  }
}

.masthead__work-title {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  transition: .5s ease;
}

.masthead__work-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: relative;
  backface-visibility: hidden;
  transition: .5s ease;
  @include respond-from(sm) {
    margin: 0;
  }
  svg {
    width: 100%;
    height: 100%;
    fill: $base-color;
    @include respond-from(sm) {
      // fill: #ffffff;
    }
  }
}
//  .masthead__work =============================

.masthead__navigation {
  ul {
    display: flex;
    gap: 15px;
  }
  ul li {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .7px;
    @include respond-from(sm) {
      padding: 0;
      padding-left: 15px;
      font-weight: 400;
    }
  }
}
//  ==================================================
//  End Masthead section
//  ==================================================

