@use "../base" as *;

.about {
    ul{
        display: flex;
        flex-direction: column;
        row-gap: 6px;
    }
    ul li {
        display: flex;
        align-items: center;
        line-height: 0;
    }
    h4 {
        font-size: 12px;
        font-weight: 400;
        min-width: 60px;
    }
    p {
        font-size: 12px;
        font-weight: 400;
        min-height: 20px;
    }
}